div.footer {
    width: {{ theme_page_width }};
    margin: 20px auto 30px auto;
    font-size: 16px;
    color: {{ theme_footer_text }};
    text-align: center;
}

table.scrollwide {
    display: block;
    max-width: 100%;
    background-color: #EEE;
    overflow: auto;
}
table.scrollwide td {
    white-space: nowrap;
}
